*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}
:root {
    --primary-color: #ffffff;
    --seccondary-color: #4f7263;
    --third-color: #fabfbf;
    --dark-grey: #333344
}
body {
    background-color: var(--primary-color);
  
}


/* --HEADER-- */

header {
    background-color: var(--primary-color);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}
header img {
    height: 70px;
    margin-left: 24px;
}
header nav {
    display: flex;
}
header nav div {
    margin-right:  24px;
    display: none;
}
header nav div span {
    background-color: var(--dark-grey);
}
header ul {
    display: flex;
}
header ul li a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--dark-grey);
    padding: 20px;
    transition: .2s;
}
header ul li {
    height: 100%;
    font-size: 16px;
    list-style: none;
    color: var(--dark-grey);
}
header ul li:hover a {
    transition: .2s;
    background-color:  var(--seccondary-color);
    color: white;
}

/* --MAIN--  */
/* SECTION-1 */

.button {
    background-color: var(--third-color);
    border: 2px solid var(--third-color);
    color: white;
    width: 180px;
    height: 60px;
    transition: .3s;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    background-color: white;
    color: var(--third-color);
    transition: .3s;
}
.section-1 {
    margin-top: 90px;
    max-height: 800px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1 img {
    max-width: 700px;
    width: calc(100vh - 90px);
    height: 100%;
    object-fit: cover;
    clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);
    transition: .25s;
}
.section-1 img:hover {
    transition: .3s;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
.section-1 div {
    padding: 50px;
}
.section-1 div h1 {
    font-size: 56px;
    font-weight: 700;
}
.section-1 div p {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section-1 div p:first-child {
    color: white;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 40% 75%, 20% 100%, 20% 75%, 0% 75%);
    background-color: var(--seccondary-color);
}
.section-1 div p:last-child {
    font-size: 26px;
    font-weight: 300;
}

/* SECTION 2 */

.section-2 {
    min-height: 600px;
    padding-top: 90px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    color: white;
    padding: 40px;
    width: 40%;
    height: 400px;
    background-color: var(--seccondary-color);
}
.section-2 div h2 {
    font-size: 64px;
    font-weight: 700;
}
.section-2 div p {
    font-size: 24px;
    font-weight: 300;
}
.section-2 a {
    background-color: var(--third-color);
    text-decoration: none;
}

/* SECTION 3 */

.section-3 {
    padding-top: 90px;
    background-color: var(--primary-color);
    min-height: 700px;
    height: auto;
}
.section-3 h2 {
    margin-left: 20px;
    font-size: 60px;
    margin-bottom: 30px;
}
.section-3 div {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    align-items: center;
    gap: 40px;
}
.section-3 div img {
    margin: 0 auto;
    width: 140px;
    height: 140px;
    object-fit: cover;
    filter: drop-shadow(0px 0px 8px 4px rgba(0, 0, 0, 0.1));
}
.section-3 div p {
    text-align: center;
}
.radius {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
}
.section-3 div .contain {
    object-fit: contain;
}

/* SECTION 4 */

.section-4 {
    padding-top: 90px;
    min-height: 500px;
    background-color: var(--primary-color);
}
.section-4 h2 {
    font-size: 60px;
    margin-left: 20px;
}
.section-4 div {
    margin: 40px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-4 div img {
    width: 50vw;
    object-fit: contain;
}
.section-4 div .description {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.description a img {
    height: 64px;
    width: 64px;
}
.description h3 {
    text-align: center;
    font-size: 40px;
}
.description p{
    text-align: center;
}
.description > p {
    font-size: 24px;
    font-weight: 300;
}
.description a  {
    color: white;
    text-decoration: none;
}
.description >div {
    gap: 10px;
}

/* --FOOTER-- */
footer {
    padding: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img {
    margin: 20px 40px;
    width: 300px;
    aspect-ratio: 1.27;
}
footer ul {
    margin: 20px;
    list-style: none;
}
footer ul li {
    margin: 20px;
    font-size: 18px;
    font-weight: 500
}
footer ul li a {
    text-decoration: none;
    color: var(--dark-grey);
}
footer ul li a:hover {
    text-decoration: underline;
}
