:root {
    --dark-blue: #ffffff;
    --ligth-blue: #4f7263;
    --yellow: #f1acac;
}
@media screen and (max-width:1146px) {
    .section-2 div p {
        font-size: 24px;
    }
}
@media screen and (max-width:1078px) {
    .section-2 div p {
        font-size: 20px;
    }
    .section-2 div h2 {
        font-size: 50px;
    }

}

@media screen and (max-width:1024px) {
    .section-1 img {
        margin-left: 48px;
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 50%;
        transition: .2s;
        clip-path: none;
    }
    .section-4 > div {
        width: 100%;
    }
    .description h3{
        font-size: 36px;
    }
    .description > p {
        font-size: 20px;
    }
}

@media screen and (max-width:870px) {
    .section-1 {
        padding-top: 90px;
        flex-direction: column;
    }
    .section-1 img {
        margin-left: 0;
    }
    .section-1 div p:first-child {
        position: absolute;
        top: 120px;
        right: 80px;
    }
    .section-1 div p:last-child {
        text-align: center;
    }
    .section-2 {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .section-2 a {
        margin-top: 48px;
    }
    .section-2 div {
        width: 70%;
        height: auto;
    }
    .section-3 h2, .section-4 h2 {
        text-align: center;
    }    
}

@media screen and (max-width:767px) {
    header .menu-icon {
        margin-right: 24px;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      header .menu-icon span {
        background-color: #333333;
        height: 17%;
        transition: 300ms;
      }
      header .menu-icon span:nth-child(1) {  
        transform-origin: top left ;
      }
      header .menu-icon span:nth-child(3) {
        transform-origin: bottom left;
      }
      header .active span:nth-child(2) {
        transform: translateX(-5px);
        opacity: 0;
        transition: 300ms;
      }
      header .active span:nth-child(1) {
        transform: rotate(45deg) translateX(6px) ;
        transition: 300ms;
      }
      header .active span:nth-child(3) {
        transform: rotate(-45deg) translateX(6px);
        transition: 300ms;
      }
      header nav {
        display: block;
        margin-right: 0px;
        height: 100vh ;
        position: absolute;
        right: 0;
        left: 0;
        top: 90px;
        background-color: rgba(255, 255, 255);
      } 
      header nav ul {
        flex-direction: column;
        justify-content: stretch;
      } 
      header nav ul li {
        margin: 0px;
        list-style: none;
      } 
      header nav ul li a {
        padding: 24px 48px;
        text-align: center;
      }
      header nav ul li:hover a {
        background-color: var(--seccondary-color);
        transition: .5s;
      } 
      header .nav {
        transition: 300ms;
      }
      header img {
          height: 55px;
      }
      .hidden {
        opacity: 0;
        transition: 300ms;
      } 
      .display-none {
        display: none;
        transition: 300ms;
      }
    .section-1 {
        padding-top: 70px;
    }
    .section-1 div p:first-child {
        display: none;
    }
    .section-1 div h1 {
        font-size: 40px;
        text-align: center;
    }
    .section-1 img {
        width: 300px;
        height: 300px;
    }
    .section-2 div h2 {
        font-size: 40px;
    }
    
    .section-3 h2 {
        font-size: 40px;
    }
    .section-3 div {
        width: 90%;
        gap: 24px;
    }
    .section-3 div img {
        width: 120px;
        height: 120px;
    }
    .section-4 h2 {
        font-size: 40px
    }
    .section-4 > div {
        flex-direction: column-reverse;
    }
    .section-4 > div > img {
        margin-top: 20px;
        width: 70vw;
    }
    footer {
        flex-direction: column-reverse;
        padding-top: 100px;
    }
    footer img {
        width: 250px;
    }
    footer ul li {
        text-align: center;
    }
}

@media screen and (max-width:425px) {
    .section-1 img {
        width: 250px;
        height: 250px;
    }
    .section-2 div h2 {
        font-size: 30px;
    }
    .section-2 div p {
        font-size: 16px;
    }
    .section-4 > div > img {
        width: 100vw;
    }
}

@media screen and (max-width:330px) {
    .section-1 img {
        width: 200px;
        height: 200px;
    }
    .section-1 h1 {
        font-size:  40px;
    }
    .section-2 div h2 {
        font-size: 25px;
    }
    .section-2 div p {
        font-size: 14px;
    }
    .section-3 h2, .section-4 h2 {
        font-size: 25px;
    }
}
